name: ExperimentsSelf
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python=3.12
  - pytorch
  - pytorch-cuda=12.1
  - torchvision
  - torchaudio
  - pandas
  - matplotlib
  - pip
